root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{*.c,*.h,*.S,*.rs,*.py,*.idl,*.md,Kconfig}]
indent_style = space
indent_size = 4

[{Makefile,*.mk}]
indent_style = tab
indent_size = 8
