/target
/build
/isofiles
*.elf
*.bin
*.pyc
*.iso
*.symbols
*.log
*.map
*.pcap

# A temporary file created by the linker. Ignore them not to notify cargo-watch.
*.map*
*.elf*

/.vscode
!/.vscode/launch.json
!/.vscode/tasks.json
!/.vscode/extensions.json
